:root {
   --dark-indigo: #2C2C54;
   --deep-purple: #474787;
   --cool-gray: #AAABB8;
   --light-gray: #ECECEC;
   --cool-blue: #4662EB;
   --purple: #8978D6;
   --salmon: #DFACBE;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

.quiz-title-container {
    background-color: var(--deep-purple);
    color: var(--light-gray);
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.question-container {
    padding: 10px 0;
    /* background-color: var(--salmon); */
}

.answers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 70%;
}

.answers-container button {
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--purple);
    color: var(--light-gray);
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.answers-container button:focus {
    background-color: var(--salmon);
}

.answers-container button:hover {
    opacity: .8;
}

.next-button {
    background-color: var(--cool-blue);
    color: var(--light-gray);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    border: none;
    border-radius: 8px;
    margin-top: 60px;
    padding: 12px 24px;
    cursor: pointer;
}

.main.results {
    background-color: var(--salmon);
    border-radius: 0 0 8px 8px;
}

.quiz-title-container.results {
    border-radius: 8px 8px 0 0;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.results-container .question {
    font-size: 24px;
    border-bottom: 1px solid var(--cool-blue);
}

.results-container .user-answer {
    font-weight: bold;
}

.back-button {
    padding: 16px;
}

.back-button button {
    background-color: var(--cool-blue);
    color: var(--light-gray);
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.back-button button:hover {
    opacity: .8;
}
