@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

:root {
  --dark-indigo: #2C2C54;
  --deep-purple: #474787;
  --cool-gray: #AAABB8;
  --light-gray: #ECECEC;
  --cool-blue: #4662EB;
  --purple: #8978D6;
  --salmon: #DFACBE;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

